<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<body class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <img src="img/portrait.jpg" alt="self-portrait" class='portrait'>
    <p class= 'desc'>
        My name is <a href="/assets/JoshuaMorlaMoralesResume2023.pdf" ><em>Joshua Morla Morales</em></a>. As a dedicated Software Engineering Technician student at Centennial College, I am currently in my second semester, immersing myself in the exciting world of programming and web development. 
        With a strong foundation in the fundamentals of software engineering, I am passionate about honing my skills and knowledge to create innovative solutions for the digital age. 
        I am committed to my education and eager to embrace the challenges and opportunities that lie ahead in the ever-evolving field of technology.
    </p>
    </div>
</main>
    <%- include ('partials/bottom_nav.ejs')%>
    <%- include ('partials/footer.ejs')%>