<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class= "container">
<div class= "jumbotron">
    <h1>Welcome to <%= title %> page</h1>
    <p><a href="/about">Check the About Page</a></p>
    <p>"I am committed to pursuing excellence in my academic journey, personal growth, and contribution to society as a college student. My mission is to harness the opportunities and resources available to me to cultivate a well-rounded education, foster critical thinking, and develop essential life skills. Through dedication, perseverance, and a growth mindset, I strive to achieve my academic goals while nurturing my creativity, curiosity, and empathy.
        I am driven to actively engage in campus life, fostering meaningful relationships, and embracing diversity. I will take initiative in extracurricular activities, community service, and leadership roles to broaden my horizons, enhance my interpersonal skills, and make a positive impact on my college community.
        As I navigate this transformative period of my life, I will prioritize self-care, mental and physical health, and work-life balance. I understand that personal well-being is the foundation of my success.
        Ultimately, my mission as a college student is to emerge as a confident, adaptable, and responsible individual, ready to face the challenges of the world beyond academia. I will use my education to not only advance my career but also to contribute to the betterment of society, promoting equity, justice, and positive change.
        I embrace the journey of self-discovery, continuous learning, and personal growth, and I am dedicated to making the most of my college experience to shape a brighter future for myself and those around me."
    </p>
    </div>
</main>
    <%- include ('partials/bottom_nav.ejs') %>
    <%- include ('partials/footer.ejs') %> 